.page {
	display: flex;
	flex-direction: column;
	position: relative;
}

.movie {
	display: flex;
	background-color: #ffffff;
	justify-content: center;
}

.form {
    position: absolute;
	top: -70px;
	right: 10vw;
}

li {
	margin-top: 10px;
}

.topicInfor {
	font-weight: 700;
}

@media only screen and (max-width: 500px){
	.form {
		display: flex;
		justify-content: flex-start ;
		position: relative;
		top:0;
		right:0;
		margin:10px;

	}
}