@media only screen and (max-width: 500px) {
    .flexSmallGroup {
        flex-direction: column;
    }
    .btnUserItems button {
        width: 100%;
        margin-bottom: 6px;
        color: #303030
    } 
}