.container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 8px;

}

.form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: absolute;
    top: 0;
}

input {
    color: white;
}

@media only screen and (max-width: 900px){
    .form {
        margin-top: 20px;
        position: relative;
    }
    input::placeholder{
        color: rgb(71, 71, 71);
    }
    input {
        color: black;
    }
}