.container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 8px;

}

.form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: absolute;
    top: 0;
}

input {
    color: white;
}