body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #ffffff;
  /* background-color: #000000    ; */
}

textarea:focus {
  border-bottom: 1px solid #00b0ff  !important;    
}

input:focus {
  border-bottom: 1px solid #00b0ff  !important;    
}