.header {
	background-color: #24272e;
	position: relative;
	padding: 18px 20px 26px;
	text-align: left;
}

.header h1 {
	/* font-family: "Lobster", sans-serif; */
	font-family: "Black Ops One", system-ui;
	color: #ffffff;
	text-shadow:       
      0 0 10px #00b0ff,
      0 0 20px #00b0ff;
	font-size: 44px;		
	font-weight: 400;
	font-style: normal;
}

.header h1 {
	margin: 0;
}
