.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #24272e;
	position: relative;
	padding: 18px 40px 20px;
	text-align: left;
}

.header h1 {
	font-family: "Black Ops One", system-ui;
	color: #ffffff;
	font-size: 44px;
	font-weight: 400;
	font-style: normal;
	margin: 0;
}

.header h1:hover {
	text-shadow:
		0 0 0.1em #97e1ff,
		0 0 0.4em #00b0ff,
		0 0 0.4em #0eb3ff;
}

@media only screen and (max-width: 500px) {
	.header {
		padding: 12px 40px 14px;
		text-align: left;
	}

	.header h1 {
		font-size: 24px;
	}
}